*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
.tittle,
.delivery{
    display: block;
    width: max-content;
    margin: auto;
}
.tittle{
    font-size: 40px;
    margin-top: 10px;
}
.delivery{
    margin-top: 20px;
    display: grid;
    grid-template-columms: 1fr 1fr 1fr;
    gap: 2em;
}
.delivery_container{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delivery_container a{
    padding: 15px;
    background-color: rgb(255, 187, 0);
    border-radius: 15px;
    color: rgb(63, 17, 0);
    margin: 10px;
}
